<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="api/weather" method="post">
        <input type="text" name="city" placeholder="Enter city name" required>
        <button type="submit">Get Weather</button>
    </form>
    <% if (city) { %>
        <h1><%= city %></h1>
        <h2><%= temperature %> °C</h2>
        <p>The weather is <%= weather %> <i>(<%= description %>)</i></p>
    <% } %>

    
</body>
</html>