<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>earthquick</title>
</head>
<body>
    <form action="/api/earthquakes" method="post">
        <input type="number" step="0.0001" name="lat" id="" placeholder="latitude">
        <input type="number" step="0.0001" name="long" id="" placeholder="longitude">
        <input type="number" step="0.01" name="radius" id="" placeholder="radius">
        <button type="submit">Search</button>
    </form>
    <% if (data) { %>
        <h1>Earthquakes present</h1>
   <% } %>
</body>
</html>